<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Soy el home!</h1>
    <% if (session.user) { %>
        <h2>Bienvenido <%=session.user.name%></h2>
        <a href="/profile">Mi perfil</a>
        <a href="/logout">Cerrar sesión</a>
        <form action="/delete?_method=DELETE" method="post">
            <input type="submit" value="eliminar mi cuenta">
        </form>
    <% } else { %>
        <a href="/login">Iniciar Sesión</a>
        <a href="/register">Registrarse</a>
    <% } %> 
</body>
</html>