<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Iniciar Sesión</h1>
        <form action="/login" method="post">
            <div>
                <input type="mail" name="mail" placeholder="Email o usuario">
            </div>
            <div>
                <input type="password" name="password" placeholder="Contraseña">
            </div>
        </form>
    </main>
    
</body>
</html>